In [3]:
import pandas as pd
import numpy as np

In [6]:
data_total = pd.read_csv("newdata/Gas_flow_19.04.16-16.01.18_200.csv",header = 0, sep = ';')

In [7]:
data_total.head()

          node         day  hour     flow        alias
0  S1104119072  2016-04-19     1 -1100.74  S1104119072
1  S1104119072  2016-04-19     2 -1359.69  S1104119072
2  S1104119072  2016-04-19     3 -1431.83  S1104119072
3  S1104119072  2016-04-19     4 -1394.89  S1104119072
4  S1104119072  2016-04-19     5 -1329.14  S1104119072

In [14]:
node_sub = list(np.unique(data_total['node']))

In [15]:
len(node_sub)

200

In [16]:
node_sub

['S1104119072',
 'S1178185427',
 'S1335949845',
 'S1439953467',
 'S1644405637',
 'S1808912375',
 'S1808946565',
 'S1827173160',
 'S1877081582',
 'S2033796147',
 'S2506622170',
 'S2936071850',
 'S3040991847',
 'S322229464',
 'S3354706692',
 'S3510028463',
 'S3589068424',
 'S3694158618',
 'S424944450',
 'S465798277',
 'S530109022',
 'S758407052',
 'S833735080',
 'S93024994',
 'S998246299',
 'T2147483813',
 'T2147484123',
 'T2147484232',
 'T2147484249',
 'T2147484270',
 'T2147484280',
 'T2147484327',
 'T2147484604',
 'T2147484650',
 'T2147484789',
 'T2147484918',
 'T2147484959',
 'T2147484978',
 'T2147485027',
 'T2147485040',
 'T2147485050',
 'T2147485070',
 'T2147485079',
 'T2147485208',
 'T2147485335',
 'T2147485511',
 'T2147485631',
 'T2147485654',
 'T2147485727',
 'T2147485734',
 'T2147485833',
 'T2147485900',
 'T2147485928',
 'T2147485934',
 'T2147485950',
 'T2147486014',
 'T2147486326',
 'T2147486481',
 'T2147486535',
 'T2147486603',
 'T2147486677',
 'T2147486772',
 'T2147486896',
 'T2147486901',
 'T2147487003',
 'T2147487014',
 'T2147487049',
 'T2147487115',
 'T2147487123',
 'T2147487269',
 'T2147487293',
 'T2147487688',
 'T2147487713',
 'T2147487730',
 'T2147487746',
 'T2147487906',
 'T2147488005',
 'T2147488012',
 'T2147488217',
 'T2147488311',
 'T2147488361',
 'T2147488381',
 'T2147488413',
 'T2147488623',
 'T2147488854',
 'T2147488999',
 'T2147489034',
 'T2147489077',
 'T2147489248',
 'T2147489345',
 'T2147489364',
 'T2147489834',
 'T2147490001',
 'T2147490028',
 'T2147490079',
 'T2147490314',
 'T2147490336',
 'T2147490350',
 'T2147490432',
 'T2147490545',
 'T2147490583',
 'T2147490587',
 'T2147490738',
 'T2147490746',
 'T2147491045',
 'T2147491140',
 'T2147491164',
 'T2147491211',
 'T2147491243',
 'T2147491283',
 'T2147491379',
 'T2147491397',
 'T2147491413',
 'T2147491459',
 'T2147491467',
 'T2147491528',
 'T2147491571',
 'T2147491733',
 'T2147491765',
 'T2147491816',
 'T2147491943',
 'T2147491979',
 'T2147491989',
 'T2147491999',
 'T2147492021',
 'T2147492050',
 'T2147492527',
 'T2147492608',
 'T2147492689',
 'T2147492830',
 'T2147492847',
 'T2147492946',
 'T2147492967',
 'T2147493211',
 'T2147493354',
 'T2147493376',
 'T2147493427',
 'T2147493438',
 'T2147493611',
 'T2147493733',
 'T2147493894',
 'T2147494133',
 'T2147494675',
 'T2147494838',
 'T2147494900',
 'T2147494910',
 'T2147494971',
 'T2147495045',
 'T2147495313',
 'T2147495380',
 'T2147495391',
 'T2147495407',
 'T2147495490',
 'T2147495496',
 'T2147495575',
 'T2147501601',
 'T2147501699',
 'T2147501712',
 'T2147501744',
 'T2147501964',
 'T2147501981',
 'T2147502071',
 'T2147502091',
 'T2147502103',
 'T2147502183',
 'T2147502227',
 'T2147502619',
 'T2147506244',
 'T2147509585',
 'T2147509808',
 'T2147509897',
 'T2147510012',
 'T2147510016',
 'T2147510213',
 'T2147510242',
 'T2147510296',
 'T2147510418',
 'T2147510433',
 'T2147513857',
 'T2147513868',
 'T2147513877',
 'T2147513885',
 'T2147517131',
 'T2147517225',
 'T2147517313',
 'T2147517318',
 'T2147517622',
 'T2147517934',
 'T2147517939',
 'T2147518104',
 'T2147518357',
 'T2147518504',
 'T2147518521',
 'T2147518540',
 'T2147518948',
 'T2147518969',
 'T2147519157',
 'T2147519183',
 'T2147519213',
 'T2147519252']

In [19]:
data_group =data_total.groupby('node')

In [20]:
data_group.count()

               day   hour   flow  alias
node
S1104119072  15288  15288  15288  15288
S1178185427  15288  15288  15288  15288
S1335949845  15288  15288  15288  15288
S1439953467  15288  15288  15288  15288
S1644405637  15288  15288  15288  15288
S1808912375  15288  15288  15288  15288
S1808946565  15288  15288  15288  15288
S1827173160  15288  15288  15288  15288
S1877081582  15288  15288  15288  15288
S2033796147  15288  15288  15288  15288
S2506622170  15288  15288  15288  15288
S2936071850  15288  15288  15288  15288
S3040991847  15288  15288  15288  15288
S322229464   15288  15288  15288  15288
S3354706692  15288  15288  15288  15288
S3510028463  15288  15288  15288  15288
S3589068424  15288  15288  15288  15288
S3694158618  15288  15288  15288  15288
S424944450   15288  15288  15288  15288
S465798277   15288  15288  15288  15288
S530109022   15288  15288  15288  15288
S758407052   15288  15288  15288  15288
S833735080   15288  15288  15288  15288
S93024994    15288  15288  15288  15288
S998246299   15288  15288  15288  15288
T2147483813  15288  15288  15288  15288
T2147484123  15288  15288  15288  15288
T2147484232  15288  15288  15288  15288
T2147484249  15288  15288  15288  15288
T2147484270  15288  15288  15288  15288
...            ...    ...    ...    ...
T2147509897  15288  15288  15288  15288
T2147510012  15288  15288  15288  15288
T2147510016  15288  15288  15288  15288
T2147510213  15288  15288  15288  15288
T2147510242  15288  15288  15288  15288
T2147510296  15288  15288  15288  15288
T2147510418  15288  15288  15288  15288
T2147510433  15288  15288  15288  15288
T2147513857  15288  15288  15288  15288
T2147513868  15288  15288  15288  15288
T2147513877  15288  15288  15288  15288
T2147513885  15288  15288  15288  15288
T2147517131  15288  15288  15288  15288
T2147517225  15288  15288  15288  15288
T2147517313  15288  15288  15288  15288
T2147517318  15288  15288  15288  15288
T2147517622  15288  15288  15288  15288
T2147517934  15288  15288  15288  15288
T2147517939  15288  15288  15288  15288
T2147518104  15288  15288  15288  15288
T2147518357  15288  15288  15288  15288
T2147518504  15288  15288  15288  15288
T2147518521  15288  15288  15288  15288
T2147518540  15288  15288  15288  15288
T2147518948  15288  15288  15288  15288
T2147518969  15288  15288  15288  15288
T2147519157  15288  15288  15288  15288
T2147519183  15288  15288  15288  15288
T2147519213  15288  15288  15288  15288
T2147519252  15288  15288  15288  15288

[200 rows x 4 columns]

In [37]:
for i in node_sub:
    path = 'splitdata/'+ i +'.csv'
    data_total[data_total['node']== i].to_csv(path)

In [41]:
for i in node_sub:
    path = 'reshapedata/'+ i +'.csv'
    dataset = data_total[data_total['node']== i]
    
    flow = dataset['flow'].values

    flow_reshape = flow.reshape((len(flow)//24,24))

    flow_reshape = flow_reshape.T

    with open(path, 'ab') as f1:
        np.savetxt(f1, flow_reshape,delimiter=",")

In [44]:
with open("nodes_list.csv", "w") as f:
    for s in node_sub:
        f.write(str(s) +"\n")

In [2]:
table = pd.pivot_table(data_total, values='D', index=['day', 'hour'], columns=['node'])

NameError: name 'pd' is not defined